<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Overpass&display=swap"
      rel="stylesheet"
    />
    <title>EasyGains</title>
  </head>
  <body>
    <header>
      <img src="../static/images/logo.svg" alt="logo" />
    </header>
    <main>
      <h1 class="landing-text">WELCOME TO EASY GAINS</h1>
      <img
        src="../static/images/landing.svg"
        alt="landing image"
        class="landing-img"
      />

      <a href="/register" class="register-btn-container">
        <div class="landing-textbox">Register</div>
      </a>

      <p class="landing-p">Already a member?</p>

      <a href="/login" class="login-btn-container">
        <div class="landing-textbox">Login</div>
      </a>
    </main>
  </body>
</html>
