<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOULDER</title>
    <link rel="stylesheet" href="../static/css/workout_type.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../static/js/functions.js"></script>
    <script>
      generate_yt_page("shoulder");
    </script>
  </head>
  <body>
    <header class="workout_type_header">
      <img src="../static/images/red-arrow.svg" alt="arrow" id="arrow" />
    </header>
    <div class="workout_type_title">
      <p>SHOULDER</p>
      <div id="spinner">
        <div class="spinner-icon"></div>
      </div>
    </div>
    <div class="video-item-wrapper" id="video-item-wrapper"></div>
  </body>
</html>
